.noLeftborder
{
    border-color:black;
    border-style: solid;
    border-radius: 7px;
    border-width: 1px 0 1px 1px;
}

.noRightborder
{
    border-color:black;
    border-style: solid;
    border-radius: 7px;
    border-width: 1px 1px 1px 0;
}

.noborder
{
    border-color:black;
    border-style: solid;
    border-radius: 7px;
    border-width: 1px 0 1px 0;
}

.searchNav
{
    margin-top: 40px;
    align-items: center;
    justify-content: center;
}

.whatSearch
{
    width: 500px;
    
}
.btns{
    flex-direction: column;
}
.dethead{
    font-size: 20px;
    font-weight: 3300;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.details{
    padding-left: 0rem;
    display: flex;
    flex-direction: row;
}
.editdetails{
    padding-left: 14rem;
}
.starcolor{
    color: red;
}
.detinput{
    width: 50%;
}
.main-div {
    background: #ffffff none repeat scroll 0 0;
    border-radius: 20px;
    margin: 10px auto 30px;
    width: 45%;
    height: auto;
    padding: 20px 20px 20px 90px;
    border: 0.2px solid gray;
  }
.findbtn
{   
    width: 4px;
    background-color: #003399;
}
.filterbtn
{   
    width: 3px;
    background-color: white;
}
.applybtn
{
    height: 50px;
    width: 250px;
    padding: auto;
    border-radius: 10px;
    background-color: #003399;
}

.savebtn
{
    height: 50px;
    width: 80px;
    margin-left: 30px;
    padding: auto;
    border-radius: 10px;
    background-color: #003399;
}

.hoverUnderline:hover
{
    color: #003399;
    border-bottom: 1px solid #003399;
    cursor: pointer;
}

.headinghoverUnderline:hover
{
    color: #003399;
    border-bottom: 3px solid #003399;
    cursor: pointer;
}


hr {
    border: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
  }

::placeholder{
    font-size: small;
}

.cardStyle
{
    margin-top: 10px;
    border-radius: 10px;
}